In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set(style="white", context="notebook", palette="deep")
COLOR_COLUMNS = ["#66C2FF", "#5CD6D6", "#00CC99", "#85E085", "#FFD966", "#FFB366", "#FFB3B3", "#DAB3FF", "#C2C2D6"]
sns.set_palette(palette=COLOR_COLUMNS, n_colors=4)

In [3]:
FILEPATH = "./datasets/AppleStore.csv"
df = pd.read_csv(FILEPATH)
df.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic,game_enab
0,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1,0
1,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1,0
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1,0
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1,0
4,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1,0

In [4]:
df.iloc[0]

id                        281656475
track_name          PAC-MAN Premium
size_bytes                100788224
currency                        USD
price                          3.99
rating_count_tot              21292
rating_count_ver                 26
user_rating                       4
user_rating_ver                 4.5
ver                           6.3.5
cont_rating                      4+
prime_genre                   Games
sup_devices.num                  38
ipadSc_urls.num                   5
lang.num                         10
vpp_lic                           1
game_enab                         0
Name: 0, dtype: object

In [5]:
df.loc[1]

id                                  281796108
track_name          Evernote - stay organized
size_bytes                          158578688
currency                                  USD
price                                       0
rating_count_tot                       161065
rating_count_ver                           26
user_rating                                 4
user_rating_ver                           3.5
ver                                     8.2.2
cont_rating                                4+
prime_genre                      Productivity
sup_devices.num                            37
ipadSc_urls.num                             5
lang.num                                   23
vpp_lic                                     1
game_enab                                   0
Name: 1, dtype: object

In [6]:
df.loc[:,'track_name':'price'].head()

,track_name,size_bytes,currency,price
0,PAC-MAN Premium,100788224,USD,3.99
1,Evernote - stay organized,158578688,USD,0.00
2,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00
3,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00
4,Bible,92774400,USD,0.00

In [7]:
columnlist =['price','rating_count_tot','user_rating','user_rating_ver','prime_genre']
df.loc[:,columnlist].head()

   price  rating_count_tot  user_rating  user_rating_ver   prime_genre
0   3.99             21292          4.0              4.5         Games
1   0.00            161065          4.0              3.5  Productivity
2   0.00            188583          3.5              4.5       Weather
3   0.00            262241          4.0              4.5      Shopping
4   0.00            985920          4.5              5.0     Reference

In [8]:
df.price.mean()

1.1192423423422901

In [9]:
df.loc[:,['price','user_rating']].apply(np.mean)

price          1.119242
user_rating    2.286802
dtype: float64

In [10]:
df.describe()

,id,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic,game_enab
count,1.110000e+04,1.110000e+04,11100.000000,1.110000e+04,11100.000000,11100.000000,11100.000000,11100.000000,11100.000000,11100.000000,11100.000000,11100.0
mean,9.196595e+08,1.291145e+08,1.119242,8.359482e+03,298.496486,2.286802,2.109550,24.576216,2.755225,3.875495,0.643874,0.0
std,2.575416e+08,3.044624e+08,4.768515,6.129530e+04,3164.394530,2.080899,2.129825,17.621606,2.056240,6.719282,0.478875,0.0
min,2.816565e+08,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0
25%,7.748118e+08,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.0
50%,1.041344e+09,4.249093e+07,0.000000,2.000000e+01,1.000000,3.000000,2.000000,37.000000,2.000000,1.000000,1.000000,0.0
75%,1.106219e+09,1.246930e+08,0.990000,8.192500e+02,54.000000,4.500000,4.500000,38.000000,5.000000,2.000000,1.000000,0.0
max,1.188524e+09,4.025970e+09,299.990000,2.974676e+06,177050.000000,5.000000,5.000000,47.000000,5.000000,75.000000,1.000000,0.0

In [11]:
df.describe(include=['O'])

               track_name currency   ver cont_rating prime_genre
count                7197     7197  7197        7197        7197
unique               7195        1  1590           4          23
top     VR Roller Coaster      USD   1.0          4+       Games
freq                    2     7197   317        4433        3862

In [12]:
df.describe(include=[np.object])

               track_name currency   ver cont_rating prime_genre
count                7197     7197  7197        7197        7197
unique               7195        1  1590           4          23
top     VR Roller Coaster      USD   1.0          4+       Games
freq                    2     7197   317        4433        3862

In [13]:
df = df.drop("currency", axis="columns")

In [15]:
df["size_Mb"] = df["size_bytes"].apply(lambda num: np.around(num / 1000000, decimals=2))
df.drop("size_bytes", axis="columns", inplace=True)

In [16]:
df.head()

,id,track_name,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic,game_enab,size_Mb
0,281656475,PAC-MAN Premium,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1,0,100.79
1,281796108,Evernote - stay organized,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1,0,158.58
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1,0,100.52
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1,0,128.51
4,282935706,Bible,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1,0,92.77